 

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
           Melodrama   
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

@font-face {
  font-family: 'melodrama';
  src: url('./font/melodrama/melodrama-medium.woff2') format('woff2');
       font-weight: 500;
       font-display: swap;
       font-style: normal;
}


.melodrama {
  font-family: "melodrama";
}

 


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                    Mezius
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

@font-face {
  font-family: Mr;
  src: url("./font/mr.woff2") format("woff2");
}

@font-face {
  font-family: Nmc;
  src: url("./font/nmc.woff2") format("woff2");
}




